:root{
    --primary: #ff2989;
    --primary-light: #ff4e9d;
}
.dash-card{
    box-shadow: -2px 2px 9px var(--primary);
}
.row,.container-fluid{
    padding: 0;
    margin: 0;
}
.bg-color{
    background-color: var(--primary);
    color: white;
}
.bg-color-light {
    background-color: var(--primary-light);
}
.text-color{
    color: ;
}
.abs-navbar.top-bar{
    padding: 10px 7px;
}
.crd-icon{
    font-size: 50px;
}
/* .crd-1{
    background-image: linear-gradient(to right, #6acc7f, rgb(3, 204, 77));
} */
.crd-1 .crd-icon{
    color: rgb(195, 66, 66);
}
.crd-2 .crd-icon {
    color: rgb(220, 101, 10);
}
.dropdown-menu{
    padding: 0px;
}
.dropdown-menu .dropdown-item{
    padding: 7px 10px;
}
.pagination .page-link{
    color: #000;
}